<style>
    .usermenu { right: 54px; }
</style>

{{ include('modal/modal_login.twig') }}

<div class="company-title-section page-detail">

    <div class="container">
        <div class="company-title-wrapper">
            <div class="company-title-container">
                <div class="company-info">
                    <div class="avatar-container">
                        <img src="{{ personDetail['PeoplePicture'] }}" height="72" width="72" alt="{{ personDetail['PeopleName'] }}">
                    </div>
                    <div class="info-container">
                        <h1 class="people-name">
                            {{ personDetail['PeopleName'] }}
                        </h1>
                    </div>
                </div>
                <input type="hidden" id="upVoteNumber" value="{{ votes['UpVotes'] }}">
                <input type="hidden" id="downVoteNumber" value="{{ votes['DownVotes'] }}">

                <div class="actions-bar">
                    <a href="{{ personDetail['LinkedIn']['Link'] }}" target="_blank" class="d-tooltip btn btn-primary projectLink">
                        <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                            <path id="web" class="btn-icon-path" d="M1108.81,839.1h0a6.973,6.973,0,0,1-4.71,10.786c-0.07.013-.15,0.033-0.23,0.043v-0.02a6.986,6.986,0,1,1,2.08-13.241h0.01a7.061,7.061,0,0,1,.79.438c0.16,0.1.3,0.213,0.45,0.325,0.19,0.143.37,0.293,0.55,0.455,0.11,0.1.22,0.2,0.32,0.312a6.984,6.984,0,0,1,.67.814c0.02,0.03.05,0.056,0.07,0.086v0ZM1109,843a5.95,5.95,0,0,0-1.35-3.747l-0.16.015-0.32.5-0.22-.073-0.89-.8-0.13-.417-0.17-.444-0.56-.5-0.66-.128-0.02.3,0.65,0.63,0.32,0.372-0.36.186-0.29-.086-0.43-.18,0.01-.35-0.57-.233-0.19.821-0.57.13,0.06,0.458,0.74,0.143,0.13-.732,0.62,0.092,0.29,0.167h0.45l0.32,0.63,0.83,0.846-0.06.328-0.67-.085-1.16.586-0.84,1-0.11.444h-0.3l-0.56-.257-0.54.257,0.14,0.573,0.23-.272,0.42-.013-0.03.515,0.34,0.1,0.35,0.386,0.56-.157,0.64,0.1,0.75,0.2,0.37,0.044,0.63,0.715,1.22,0.716-0.79,1.5-0.83.386-0.16.418A5.968,5.968,0,0,0,1109,843Zm-5.27-5.925-0.56.057-0.2-.129a6.106,6.106,0,0,0-.87.088l0.03,0.047-0.96.251-0.08-.05a6.169,6.169,0,0,0-1.57.784l0.32-.044,0.57-.314,0.65,0.186,1.03-.057,0.35-.555,0.52,0.085,1.25-.118,0.13-.142A5.969,5.969,0,0,0,1103.73,837.073ZM1103,849a5.97,5.97,0,0,0,.85-0.086c0.09-.349.27-1.089,0.27-1.122s-0.32-1.132-.32-1.132l-0.51-.945,0.47-.977-0.47-.141-0.52-.527-1.17-.261-0.38-.81v0.481h-0.18l-1-1.362V841l-0.74-1.2-1.16.208h-0.32A5.969,5.969,0,0,0,1103,849Z" transform="translate(-1096 -836)"/>
                        </svg>
                        <span>LinkedIn</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="main-new main page-detail {% if not projSponsoredbadge %}no-sponsored{% endif %}">
    <div class="container">
        <div class="content-section">
            <div class="content-item">
                <p class="project-detail">{{ personDetail['PeopleDesc'] }}</p>
            </div>

            <div class="content-item">
                <h2 class="section-title">Projects</h2>
                <div class="team-list">
                    {% for key, project in personProjects %}
                        <a href="{{ project['ProjLink'] }}" class="item">
                            <div class="logo-container">
                                <img src="data:image/png;base64,{{ project['ProjImageLarge'] }}" height="48" width="48" alt="{{ project['ProjName'] }}">
                            </div>
                            <div class="description-container">
                                <span class="name">{{ project['ProjName'] }}</span>
                                <span class="position">{{ project['PeopleProjPosition'] | raw }}</span>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>

            <div class="content-item">
                <h2 class="section-title">Links</h2>
                <div class="socials-list-container">
                    {% for key, link in personLinks %}
                        <ul class="socials-list">
                            <li class="projectLink">
                                <a rel="nofollow" target="_blank" href="{{ link['Link'] }}">
                                    <img class="inline" src="data:image/png;base64,{{ link['LinkTypeImage'] }}">
                                    <span class="linkType">{{ link['LinkTypeName'] }}</span>
                                </a>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            </div>

            {% if featuredPost %}
            <div class="content-item padding-b-40">
                <h2 class="section-title">Blog Posts</h2>
                <div class="posts-list">
                    {{ featuredPost | raw }}
                </div>
            </div>
            {% endif %}

            <div class="comments-container">
                <div class="comments-privacy">
                    <span class="title">Coinschedule Comment Policy</span>
                    <p>Please read our <a href="{{ base_url }}privacypolicy.html">Comment Policy</a> before commenting.</p>
                </div>
                <div class="comments-block">
                    <div id="disqus_thread"></div>
                    <script>
                        /**
                         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                         */
                        var disqus_config = function () {
                            this.page.url = '{{ head['canonical'] }}'
                            this.page.identifier = '{{ projectDetail['ProjID'] }}'
                        };
                        (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
                            var d = document, s = d.createElement('script');

                            s.src = '//coinschedule.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!

                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                </div>
            </div>
        </div>
        <div class="sidebar">
            {% if personDetail['Twitter'] %}
                <div class="widget wg-twitter">
                    <div class="widget__header">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="11" viewBox="0 0 15 11">
                            <path id="twitter-link" class="cls-1" d="M1124.72,1004c5.66,0,8.76-4.229,8.76-7.9,0-.12,0-0.24-0.01-0.358a5.933,5.933,0,0,0,1.53-1.438,6.62,6.62,0,0,1-1.76.437,2.863,2.863,0,0,0,1.35-1.536,6.537,6.537,0,0,1-1.95.674,3.328,3.328,0,0,0-4.36-.12,2.6,2.6,0,0,0-.89,2.652,9.083,9.083,0,0,1-6.34-2.9,2.619,2.619,0,0,0,.95,3.707,3.253,3.253,0,0,1-1.39-.348v0.035a2.863,2.863,0,0,0,2.47,2.722,3.414,3.414,0,0,1-1.39.048,3.036,3.036,0,0,0,2.87,1.923,6.586,6.586,0,0,1-3.82,1.2c-0.25,0-.49-0.02-0.73-0.04a9.439,9.439,0,0,0,4.71,1.24" transform="translate(-1120 -993)"/>
                        </svg>
                        <span>Twitter feed</span>
                    </div>
                    <div class="widget__body padding-0 scroll">
                        <div class="feed-container"><a class="twitter-timeline" href="{{ personDetail['Twitter']['Link'] }}?ref_src=twsrc%5Etfw">Tweets by {{ personDetail['PeopleName'] }}</a> <script async src="https://platform.twitter.com/widgets.js"></script></div>
                    </div>
                </div>
            {% endif %}

            {% if projectDetail['ProjSponsored'] == 0 and htmlSimilarIco %}
            <div class="widget">
                <div class="widget__header">
                    <span>Similar ICO’s</span>
                </div>
                <div class="widget__body">
                    <div class="ico-list">
                        {{ htmlSimilarIco | raw }}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>


<div class="mobile-actions-panel">
    <ul class="actions-list">
        <li>
            <a title="Give your vote on this project and tell us what you think. We use the votes in our internal ICOrank algorithm" class="d-tooltip btn-votes upVote act-mobile {% if isUpVote %}active{% endif %}" data-id="{{ projectDetail['ProjID'] }}" data-votes="{{ votes['UpVotes'] }}" href="javascript:void(0)">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="18" viewBox="0 0 16 14">
                    <path id="thup_small" data-name="thup small" class="icon-path" d="M5264,1128h3v-9.97h-3V1128Zm16-8.3a2.233,2.233,0,0,0-1.85-1.71h-4.62l0.49-2.45v-0.19a1.273,1.273,0,0,0-.28-0.7l-0.76-.64-4.58,3.94a1.051,1.051,0,0,0-.41.9v7.87a1.339,1.339,0,0,0,1.38,1.28h7.17a1.369,1.369,0,0,0,1.24-.77l2.08-6.07a1.012,1.012,0,0,0,.07-0.45l0.07-1.01h0Z" transform="translate(-5264 -1114)"/>
                </svg>
                <span class="upVoteNumber">{{ votes['UpVotes']|number_format }}</span>
            </a>
        </li>
        <li>
            <a title="Give your vote on this project and tell us what you think. We use the votes in our internal ICOrank algorithm" href="javascript:void(0)" class="d-tooltip btn-votes downVote act-mobile {% if isDownVote %}active{% endif %}" data-id="{{ projectDetail['ProjID'] }}" data-votes="{{ votes['DownVotes'] }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="18" viewBox="0 0 16 14">
                    <path id="thdown_small" data-name="thdown small" class="icon-path" d="M5328,1116h3v9.97h-3V1116Zm16,8.3a2.246,2.246,0,0,1-1.85,1.71h-4.62l0.49,2.44v0.2a1.273,1.273,0,0,1-.28.7l-0.76.64-4.58-3.94a1.076,1.076,0,0,1-.41-0.9v-7.87a1.332,1.332,0,0,1,1.38-1.28h7.17a1.369,1.369,0,0,1,1.24.77l2.08,6.07a1.012,1.012,0,0,1,.07.45l0.07,1.01h0Z" transform="translate(-5328 -1116)"/>
                </svg>
                <span class="downVoteNumber">{{ votes['DownVotes']|number_format }}</span>
            </a>
        </li>
        <li>
            <a title="Visit the ICO website to learn more and join this ICO" href="{{ projWebsite }}" class="d-tooltip" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 14 14">
                    <path id="web" class="icon-path" d="M5469.81,1118.1h0a6.976,6.976,0,0,1-4.71,10.79c-0.07.01-.15,0.03-0.23,0.04v-0.02a6.255,6.255,0,0,1-.87.09,7,7,0,1,1,2.95-13.33h0.01a7.367,7.367,0,0,1,.78.43c0.16,0.1.31,0.22,0.46,0.33,0.19,0.15.37,0.29,0.55,0.46,0.11,0.1.22,0.2,0.32,0.31a6.551,6.551,0,0,1,.67.81c0.02,0.03.05,0.06,0.07,0.09h0Zm0.19,3.9a5.948,5.948,0,0,0-1.35-3.75l-0.16.02-0.32.5-0.22-.07-0.89-.8-0.13-.42-0.17-.45-0.56-.5-0.66-.13-0.02.31,0.65,0.63,0.31,0.37-0.35.18-0.29-.08-0.43-.18,0.01-.35-0.57-.24-0.19.83-0.57.13,0.06,0.45,0.74,0.15,0.13-.73,0.62,0.09,0.29,0.16h0.45l0.32,0.63,0.83,0.85-0.06.33-0.67-.09-1.16.59-0.84,1-0.11.45h-0.3l-0.56-.26-0.54.26,0.14,0.57,0.23-.27,0.42-.02-0.03.52,0.34,0.1,0.35,0.38,0.56-.15,0.64,0.1,0.75,0.2,0.37,0.04,0.63,0.72,1.22,0.71-0.79,1.51-0.83.38-0.16.42A5.952,5.952,0,0,0,5470,1122Zm-5.27-5.93-0.56.06-0.2-.13a6.255,6.255,0,0,0-.87.09l0.03,0.05-0.96.25-0.08-.05a6.06,6.06,0,0,0-1.57.78l0.32-.04,0.57-.32,0.65,0.19,1.03-.06,0.35-.55,0.52,0.08,1.25-.12,0.13-.14C5465.14,1116.12,5464.94,1116.1,5464.73,1116.07ZM5464,1128a5.972,5.972,0,0,0,.85-0.09c0.09-.35.27-1.09,0.27-1.12s-0.32-1.13-.32-1.13l-0.51-.95,0.47-.97-0.47-.14-0.52-.53-1.17-.26-0.38-.81v0.48h-0.18l-1-1.36V1120l-0.74-1.2-1.16.21h-0.32A5.97,5.97,0,0,0,5464,1128Z" transform="translate(-5457 -1115)"/>
                </svg>
                <span>Website</span>
            </a>
        </li>
        <li>
            <a title="The white paper explains in greater detail what this ICO project is all about" href="{{ whitePaperLink }}" class="d-tooltip" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="17" viewBox="0 0 11 13.06">
                    <path id="wp" class="icon-path" d="M5532,1128h-9a1,1,0,0,1-1-1v-11a1,1,0,0,1,1-1h5.89l0.06-.05L5529,1115h0l4,4v8A1,1,0,0,1,5532,1128Zm-3-11.59V1119h2.58Zm3,3.59h-4v-4h-5v11h9v-7Zm-5-2h-3v-1h3v1Zm0,2h-3v-1h3v1Zm4,2h-7v-1h7v1Zm0,2h-7v-1h7v1Zm-3,2h-4v-1h4v1Z" transform="translate(-5522 -1114.94)"/>
                </svg>
                <span>Paper</span>
            </a>
        </li>
    </ul>
</div>


<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type": "Event",
  "name": "{{ projTitle }}",
  "url": "{{ head['canonical'] }}",
  "description": "{{ projectDetail['ProjDesc'] }}",
  "startDate" : "{{ jsonStart }}",
  "endDate" : "{{ jsonEnd }}",
  "image" : "{{ projectDetail['projectLogo'] }}",
  "location" : {
    "@type" : "Place",
    "name": "{{ projTitle }}",
    "address" : {
      "@type" : "PostalAddress",
      "addressCountry" : "{{ projectDetail['Country'] }}"
    }
   }
}
</script>

<script>
    var projectID = {{ projectDetail['ProjID'] }};
    document.getElementById('id_new_common').addEventListener('load', function () {
        // Video control
        initVideoControl();

        // Slider
        initSlider();

        // Init scroll
        initScroll();

        {% if isInitializeClock %}
        initTimer('.timer-container.{{ initializeClock }}');
        {% endif %}

        function showLoginModal(ptype, ftype) {
            $("#modal-login #pid").val(projectID);
            $("#modal-login #ptype").val(ptype);
            $("#modal-login #ftype").val(ftype);
            $("#modal-login").modal();
        }

        $(document).ready(function() {

            // More
            $(".people-more").click(function() {
                if ($(this).hasClass('c-more')) {
                    $(this).removeClass('c-more');
                    $(this).text('More');
                } else {
                    $(this).addClass('c-more');
                    $(this).text('Less');
                }

                var peopleID = $(this).data('id');
                var toggleText = $("#people-id-" + peopleID + " .toggle-text").text();
                var showingText = $("#people-id-" + peopleID + " .show-text").text();

                $("#people-id-" + peopleID + " .show-text").text(toggleText);
                $("#people-id-" + peopleID + " .toggle-text").text(showingText);
            });

            // upVote
            $(".upVote").click(function() {

                if ($(this).hasClass("act-mobile")) {
                    var atcClass = 'active';
                } else {
                    var atcClass = 'btn-like-focus';
                }

                if (isLoggedIn == 1) {

                    if ($(this).hasClass(atcClass)) {
                        var postData = {id: $(this).attr("data-id"), type: 0};
                        $.ajax({
                            url: baseUrl + 'ajax/voteProject',
                            data: postData,
                            dataType: 'json',
                            type: 'POST',
                            success: function(jsonData) {
                                if (jsonData.status == 1) {
                                    $(".upVote").removeClass(atcClass);

                                    var votes = parseInt($('#upVoteNumber').val());
                                    votes -= 1;
                                    $('.upVoteNumber').text(votes);
                                    $('#upVoteNumber').val(votes);
                                }
                            }
                        });
                    } else {
                        var postData = {id: $(this).attr("data-id"), type: 1};
                        $.ajax({
                            url: baseUrl + 'ajax/voteProject',
                            data: postData,
                            dataType: 'json',
                            type: 'POST',
                            success: function(jsonData) {
                                if (jsonData.status == 1) {
                                    if ($(".downVote").hasClass(atcClass)) {
                                        var downVoteNumber = parseInt($('#downVoteNumber').val()) - 1;
                                        $('.downVoteNumber').text(downVoteNumber);
                                        $('#downVoteNumber').val(downVoteNumber)
                                    }

                                    $(".btn-votes").removeClass(atcClass);
                                    $(".upVote").addClass(atcClass);

                                    var votes = parseInt($('#upVoteNumber').val());
                                    votes += 1;
                                    $('.upVoteNumber').text(votes);
                                    $('#upVoteNumber').val(votes);
                                }
                            }
                        });
                    }

                } else {
                    if ($(this).hasClass(atcClass)) {
                        showLoginModal(0);
                    } else {
                        showLoginModal(1);
                    }
                }
            });

            // downVote
            $(".downVote").click(function() {

                if ($(this).hasClass("act-mobile")) {
                    var atcClass = 'active';
                } else {
                    var atcClass = 'btn-like-focus';
                }

                if (isLoggedIn == 1) {

                    if ($(this).hasClass(atcClass)) {

                        var postData = {id: $(this).attr("data-id"), type: 0};
                        $.ajax({
                            url: baseUrl + 'ajax/voteProject',
                            data: postData,
                            dataType: 'json',
                            type: 'POST',
                            success: function(jsonData) {
                                if (jsonData.status == 1) {
                                    $(".downVote").removeClass(atcClass);

                                    var votes = parseInt($('#downVoteNumber').val());
                                    votes -= 1;
                                    $('.downVoteNumber').text(votes);
                                    $('#downVoteNumber').val(votes);
                                }
                            }
                        });

                    } else {

                        var postData = {id: $(this).attr("data-id"), type: 2};
                        $.ajax({
                            url: baseUrl + 'ajax/voteProject',
                            data: postData,
                            dataType: 'json',
                            type: 'POST',
                            success: function(jsonData) {
                                if (jsonData.status == 1) {
                                    if ($(".upVote").hasClass(atcClass)) {
                                        var upVoteNumber = parseInt($('#upVoteNumber').val()) - 1;
                                        $('.upVoteNumber').text(upVoteNumber);
                                        $('#upVoteNumber').val(upVoteNumber);
                                    }

                                    $(".btn-votes").removeClass(atcClass);
                                    $(".downVote").addClass(atcClass);

                                    var votes = parseInt($('#downVoteNumber').val());
                                    votes += 1;
                                    $('.downVoteNumber').text(votes);
                                    $('#downVoteNumber').val(votes);
                                }
                            }
                        });

                    }
                } else {
                    if ($(this).hasClass(atcClass)) {
                        showLoginModal(0);
                    } else {
                        showLoginModal(2);
                    }
                }
            });

            // Favorites
            $(".Favorites").click(function() {

                if ($(this).hasClass("act-mobile")) {
                    var atcClass = 'active';
                } else {
                    var atcClass = 'btn-like-focus';
                }

                if (isLoggedIn == 1) {

                    if ($(this).hasClass(atcClass)) {

                        var postData = {id: $(this).attr("data-id"), type: 1};
                        $.ajax({
                            url: baseUrl + 'ajax/favourProject',
                            data: postData,
                            dataType: 'json',
                            type: 'POST',
                            success: function(jsonData) {
                                if (jsonData.status == 1) {
                                    $(".Favorites").removeClass(atcClass);
                                }
                            }
                        });

                    } else {

                        var postData = {id: $(this).attr("data-id"), type: 0};
                        $.ajax({
                            url: baseUrl + 'ajax/favourProject',
                            data: postData,
                            dataType: 'json',
                            type: 'POST',
                            success: function(jsonData) {
                                if (jsonData.status == 1) {
                                    $(".Favorites").addClass(atcClass);
                                }
                            }
                        });

                    }
                } else {
                    if ($(this).hasClass(atcClass)) {
                        showLoginModal('', 1);
                    } else {
                        showLoginModal('', 0);
                    }
                }
            });

        });
    });
</script>
