<div class="header"></div>
<div class="main">
    <section>
        <h2 style="padding-bottom: 10px;">Marketing Packages</h2>

        <p style="margin-top: 5px; margin-bottom: 15px; padding: 5px; border: 1px solid #34495e">PLEASE NOTE: There have been a few phishing attempts reported by our customers. Please take care when negotiating upgrades with Coinschedule, we only use the email <a href="mailto:moon@coinschedule.com">moon@coinschedule.com</a> to close deals. Be careful with misspellings and similarly looking domains.</p>

        Every day many thousands of people from around the world visit Coinschedule looking for ICOs to join. As of September 2017, Coinschedule is serving around 10 million pages views per month and is the biggest ICO listing website in the world. <br><br>

        We are regularly mentioned in the main stream media press (<a href="{{ base_url }}press.html" target="_blank">{{ base_url }}press.html</a>) and our traffic is highly valuable, with visitors coming mostly from USA, UK, Australia, Japan and Canada.<br><br>

        Some of the most successful projects in 2017 used Coinschedule's marketing tools including Paragon ($183 million raised), MobileGo ($53 million raised), STORJ ($29 million raised) and many others.<br><br>

        The options below are designed to help your ICO attract more participants. Prices are automatically calculated by our system based on current demand. We have limited slots for each one of the options below, so we recommend you don't leave it to late as your preferred option may not be available anymore, or the prices may have changed.<br><br><br>
        <b>1. Plus Listing -  {{ Plus_Listing }} BTC</b><br>
        Highlights your ICO in the upcoming list and shows in standard box but in gold colour (as supposed to purple) when ICO is live. We will show your links (Twitter etc) on the details page.<br><br><br>
        <b>2. Silver Listing - {{ Silver_Listing }} BTC</b><br>
        Highlights your ICO in the upcoming list and shows on Silver plate when ICO is live.  Will show your links (Twitter etc) on the details page. No adverts will be shown on your project page.<br><br><br>
        <b>3. Gold Listing - {{ Gold_Listing }} BTC</b><br>
        Highlights your ICO in the upcoming list and shows on Gold plate when ICO is live. Gives you an improved details page with full information. No adverts will be shown on your project page.<br><br><br>
        <b>4. Top of Upcoming List (for Gold projects only) - {{ Top_Upcoming_Listing }} BTC Per Month</b><br>
        Highlights your ICO in the upcoming list at the very top.  This placement is limited to 2 projects max.<br><br><br>
        <b>5. Platinum Listing - {{ Platinum_Listing }} BTC Per Month</b><br>
        Same as gold plus highlights your ICO in the upcoming list at the very top and gives you static banner with timer at the top of our website (just above the live ico section).  We will also promote your ICO on twitter. Please contact us for availability since spaces are very limited.<br><br><br>
        <b>6. Ad Banner - {{ banprice }} BTC for each 100,000 views</b><br> 
        Shows your banner on rotation basis for any campaign length 2 weeks or greater.  Our system will serve the number of views you purchase over the campaign time.  Our audience is highly targeted, people visiting our website are looking for ICOs to invest.  Banner size is 728 x 90 pixels.
        <br><br><br>
        <b>7. Blog Post - {{ blogprice }} BTC</b><br>
        Allows you to explain the ICO and provide visitors with your story. We make it look like a conversation as if we were interviewing you over the phone or you can write your own article. The blog is a great way to explain to people more about your ICO in a format that is easy to read and looks unbiased.  We will also tweet the blog out to our followers. Blog picture is 900 x 300 pixels.
        <br><br><br>
        <b>8. Tweet Post + Telegram - {{ Tweet_Post_Telegram }} BTC</b><br>
        We will send a tweet out to our followers, you may provide the text and optional image. <a href="https://twitter.com/coinschedule" target="_blank">https://twitter.com/coinschedule</a>.  We will also post your message in our telegram group. 
        <br><br><br>To purchase any or all of the options above, please send an email to <a href="mailto:moon@coinschedule.com">moon@coinschedule.com</a> stating: Which options you will want (1, 2, 3, 4, 5, 6, 7, 8). If you want ad banners, how many views you want (maximum of 200k views per project, to be delivered over a month as default).
        <br><br>
        Note: We are also open to taking part of the payment (upto 1/3) in your own tokens if we like your project.  Tokens must be transfered immediately and not after the ICO has finished. 
        <br><br>
        If you are just wanting to list your project you need to go to <a href="{{ base_url }}submit_entry.html">{{ base_url }}submit_entry.html</a> You have to log in/register.  We have small listing fee of {{ Listing_Fee }}BTC.
        <br><br>
    </section>
</div>